/* HTML Tags */
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 900;
}


/* Headings and Sections  */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  /* line-height: 1.5; */
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #ff4c68;
  color: whitesmoke;
}

.white-section {
  background-color: whitesmoke;
}

/* Title Section  */
#title {
  text-align: left;
}
#title .container-fluid {
  padding-top: 3%;
}
.navbar-brand {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar {
  padding-bottom: 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}
/* Download Buttons */
#title .download-btn {
  margin: 5% 3% 5% 0;
}
/* Title image */
.title-img-col {
  position: relative;
}
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  top: -25px;
  right: 30%;
  z-index: 0;
}

/* Features Row */
.features-row p {
  color: #8f8f8f;
  padding: 0 50px;
  margin-bottom: 0;
}
.features-row i {
  font-size: 4rem;
  color: #ef8172;
}
.features-row i:hover {
  color: #ff4c68;
}
.feature-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 16px;
}
#features {
  position: relative;
}
#features .container-fluid {
  padding-top: 0px;
  padding-bottom: 10%;
}
.feature {
  margin-top: 14%;
}

/* Testimonials Section */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
/* Press */
#press .container-fluid {
  padding-top: 0;
}
/* press-logo */
.press-img {
  width: 100%;
  padding: 7% 3%;
}
.press-img.tnw-logo {
  width: 80%;
}

/* Pricing  */
#pricing {
  padding: 100px;
}
.pricing-col {
  padding: 3% 2%;
}
.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-name {
  margin: 0;
}

/* CTA  */
#cta h3 {
  font-size: 3rem;
}
#cta .download-btn {
  margin: 2% 2% 0;
}

/* Footer  */
#footer {
  color: #8f8f8f;
}
#footer p {
  font-size: 1.2em;
  line-height: 2;
  margin: 0;
}
#footer i {
  color: #212529;
  margin: 1em;
}

@media screen and (max-width: 1028px) {
  .navbar {
    padding-bottom: 1.5rem;
  }
  .big-heading {
    font-size: 3rem;
    line-height: 1.2;
  }
  #title {
    text-align: center;
  }
  .title-img {
    width: 60%;
    transform: rotate(0deg);
    position: static;
    right: 30%;
  }
  #title .download-btn {
    margin: 5% 3% 7% 3%;
  }
}
